.previewBannerWrapper {
    height: 60px;
    background-color: #F05443;
    text-align: center;
}

.previewText {
    margin: 0px;
    padding-top: 12px;
    font-weight: 500;
    font-size: 20px;
}

.previewLink:hover {
    text-decoration: underline;
}