@import "../../styles/breakpoints.scss";
@import "../../styles//variables.scss";

.primary_padding {
  padding: 80px 0px;

  @media screen and (max-width: $breakpoint-md) {
    padding: 60px 16px;
  }
}

.tab_title {
  font-family: $primary-font, sans-serif;
  // font-size: 2.5604551920341394vw;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $primary-color-black;
  text-align: center;
  padding-bottom: 1.422475106685633vw;
}

.tab_desc {
  font-family: $secondary-font, sans-serif;
  font-size: clamp(10px, 2vw, 14px);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: normal;
  color: #5f5f5f;
  text-align: left;
  padding-bottom: 2.844950213371266vw;
}

.tab__primary {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0px 28px;
}

.left__title {
  font-size: 20px;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  // padding-left: 30px;
  font-family: $secondary-font, sans-serif;
  font-weight: $font-weight500;
  width: 206px;
  // padding-left: 30px;
  padding-left: 20px;
}

.right__box__title {
  font-size: 20px;
  font-family: $secondary-font;
  font-weight: $font-weight700;
  text-align: left;
  padding-bottom: 25px;
  padding-top: 15px;
  color: $brand-color4;
}

.right__box__description {
  font-family: $secondary-font, sans-serif;
  font-size: 16px;
  font-weight: $font-weight500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  color: $grey200;
  padding: 10px;
  margin-top: 40px;

  @media only screen and (max-width: $breakpoint-md) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .right__box__title {
    text-align: center;
  }

  .right__box__description {
    text-align: center;
  }
}

.tab__secondary {
  width: 90%;
  // height: clamp(36.263px, 4.521vw, 61.844px);
  max-width: 1200px !important;
  margin: 0 auto;

  @media only screen and (max-width: $breakpoint-md-767) {
    width: 85%;
  }

  li {
    button {
      width: 100px !important;
      padding: 0 10px 1.5vw 10px !important;
      font-size: clamp(8.73969px, 1.138vw, 16px);
      font-weight: $font-weight700 !important;

      @media only screen and (max-width: $breakpoint-md-767) {
        font-size: 16px;
      }

      @media only screen and (max-width: $breakpoint-sm-450) {
        font-size: clamp(2.22222px, 4.44444vw, 20px);
      }
    }
  }
}

.content_row {
  @media only screen and (min-width: $breakpoint-sm-450) and (max-width: $breakpoint-md-820) {
    padding-left: 2rem !important;
  }
}

.heading {
  font-family: $primary-font;
  font-size: clamp(19.6643px, 2.56vw, 36px);
  font-weight: 600;
  text-align: center;
  padding-top: clamp(15.294px, 1.99vw, 75px);
  margin-bottom: 50px;
  color: #000000;

  @media only screen and (min-width: 1406px) {
    padding-top: 75px;
  }

  @media only screen and (max-width: $breakpoint-md-767) {
    font-size: 35px;
    padding-top: 37.5px;
    padding-bottom: 50px;
    margin-bottom: 0px;
  }

  @media only screen and (max-width: $breakpoint-sm-450) {
    font-size: clamp(4.43333px, 7.777vw, 35px);
    padding-top: clamp(6px, 11.382vw, 51px);
    padding-bottom: clamp(3px, 6.132vw, 27.5px);
    margin-bottom: 0px;
  }
}

.address__container {
  @media only screen and (max-width: $breakpoint-md-767) {
    max-width: 90%;
    padding-top: 40px;
    padding-bottom: 62.5px;
    margin-bottom: 0;
  }

  @media only screen and (max-width: $breakpoint-sm-450) {
    padding-top: clamp(5.556px, 11.111vw, 50px);
    padding-bottom: clamp(6.944px, 13.889vw, 62.5px);
    margin-bottom: 0;
  }
}

.address__container__box {
  padding-top: clamp(59.539px, 7.75vw, 109px);
  padding-bottom: clamp(56.262px, 7.33vw, 103px);

  @media only screen and (max-width: $breakpoint-md-767) {
    flex-direction: column;
    padding: 0;
  }
}

.address__wrapper {
  padding: 0 15px;

  @media only screen and (max-width: $breakpoint-md-767) {
    width: auto;
  }
}

.address__title {
  padding-top: clamp(21.849px, 2.85vw, 40px);
  padding-left: clamp(30.589px, 4vw, 56px);
  font-size: clamp(13.1095px, 1.7vw, 24px);
  color: #141414 !important;
  font-family: $primary-font, sans-serif;

  font-weight: $font-weight600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $primary-color-black;

  @media only screen and (max-width: $breakpoint-md-767) {
    font-size: 30px;
    padding-left: 3.982930298719772vw;
  }

  @media only screen and (max-width: $breakpoint-sm-450) {
    font-size: clamp(5px, 6.68vw, 30px);
    padding-top: 2.844950213371266vw;
    padding-left: 3.982930298719772vw;
  }
}

.address_text {
  padding-left: clamp(30.589px, 4vw, 56px);
  font-size: clamp(10.9246px, 1.42vw, 20px);
  color: $grey600;
  max-width: 68%;

  @media only screen and (max-width: $breakpoint-md-767) {
    padding-left: 3.982930298719772vw;
    font-size: 25px;
  }

  @media only screen and (max-width: $breakpoint-sm-450) {
    font-size: clamp(3.5px, 4.6vw, 20.5px);
    padding-left: 3.982930298719772vw;
    max-width: 70%;
  }
}

.address__description {
  font-size: 20px;
  font-family: $secondary-font, sans-serif;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: $grey600;
}

.contact__details {
  padding-top: clamp(25.673px, 3.34vw, 47px);
  padding-left: clamp(30.589px, 3.98vw, 56px);
  // color: $grey600;
  font-size: clamp(10.9246px, 1.42vw, 20px) !important;
  font-family: $secondary-font, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  letter-spacing: normal;

  @media only screen and (max-width: $breakpoint-md-767) {
    font-size: 25px !important;
    padding: 58.75px 0px 58.75px 3.982930298719772vw;
  }

  @media only screen and (max-width: $breakpoint-sm-450) {
    font-size: clamp(3.5px, 4.56vw, 20.5px) !important;
    padding: clamp(6.658px, 13.05vw, 58.75px) 0px
      clamp(6.658px, 13.05vw, 58.75px) 3.982930298719772vw;
  }
}

.email__section {
  color: #666666;
  display: flex;
  font-size: inherit;
}

.telephone__section {
  display: flex;
  font-size: inherit;
}

.email__title {
  color: #666666;
  font-weight: $font-weight700 !important;
  padding-right: clamp(6.555px, 0.8535vw, 12px);
  vertical-align: baseline;

  @media only screen and (max-width: $breakpoint-md-767) {
    padding-right: 15px;
  }
}

.email__subtitle {
  font-size: inherit;
  color: #666666;
  vertical-align: baseline;
  // line-height: 2rem;
}

.map__container {
  width: 100%;
  height: 30.08534850640114vw;
  position: relative;
  overflow: hidden;

  @media only screen and (min-width: $breakpoint-xl-1406) {
    height: 423px;
  }

  @media only screen and (max-width: $breakpoint-md-767) {
    height: 245px;
  }

  @media only screen and (max-width: $breakpoint-sm-450) {
    height: 54.44444444444444vw;
    width: 100%;
  }
}

.google__maps {
  color: #666666;
  position: relative;
  // padding: 0 15px;

  iframe {
    width: 100%;
    height: 30.08534850640114vw;

    @media only screen and (min-width: $breakpoint-xl-1406) {
      height: 423px;
    }

    @media only screen and (max-width: $breakpoint-md-767) {
      width: 100%;
      height: 245px;
    }

    @media only screen and (max-width: $breakpoint-sm-450) {
      height: 54.44444444444444vw;
      width: 100%;
    }
  }

  @media only screen and (max-width: $breakpoint-md-767) {
    padding-bottom: 40vw;
  }
}

.fullscreen {
  // position: relative;
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: block;
  }
}

.toggleScreen {
  // position: absolute;
  // right: 10px;
  // top: 10px;
  // background: white;
  // box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  // border-radius: 0px;
  background: none rgb(255, 255, 255);
  border: 0px;
  margin: 10px;
  padding: 0px;
  text-transform: none;
  appearance: none;
  position: absolute;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  height: 40px;
  width: 40px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
  overflow: hidden;
  right: 0px;
  top: 0px;

  &:hover {
    background-color: #fff !important;
  }

  .fullimgdiv {
    margin-top: 6px;
  }
}

.scrolling {
  scroll-margin: 40px;
}

.aboutus_tab_component {
  // max-width: 80vw !important;

  display: flex;
  flex-wrap: nowrap !important;

  // width: clamp(500px, 88.23vw, 1241.33px) !important;
  // width: 1241.5px !important;
  @media only screen and (min-width: $breakpoint-md-767) {
    width: clamp(500px, 88.23vw, 1241.33px) !important;
  }

  @media only screen and (max-width: $breakpoint-md-767) {
    width: clamp(100px, 97.4vw, 747px) !important;
  }

  button {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;

    @media only screen and (min-width: $breakpoint-md) {
      // width: 163.41px !important;
      // font-size: 20px !important;
      width: clamp(50px, 14.7vw, 206.88px) !important;
      font-size: clamp(8.99651px, 1.1vw, 16px) !important;
    }
  }
}

.for_casestudy {
  .right__box__title {
    color: $brand-color4;
  }
  .right__box__description {
    color: $black1;
  }
  @media only screen and (max-width: $breakpoint-md) {
    .right__box__title,
    .right__box__description {
      text-align: center;
    }
    .right__box__description {
      padding-bottom: 0;
    }
  }
}

.mobile_button {
  display: none;
  text-align: center;
  padding-bottom: 15px;
  button {
    margin: 0;
  }
  @media only screen and (max-width: $breakpoint-md) {
    display: block;
  }
}
