$breakpoint-xs: 0;
$breakpoint-sm-195: 195px;
$breakpoint-sm-270: 270px; //226px
$breakpoint-sm-200: 200px;

$breakpoint-sm-320: 320px;
$breakpoint-sm-390: 390px;
$breakpoint-sm-367: 367px;
$breakpoint-sm-365: 365px;
$breakpoint-sm-340: 340px;
$breakpoint-sm-350: 350px;
$breakpoint-sm-370: 370px;
$breakpoint-sm-380: 380px;

$breakpoint-sm-424: 424px;
$breakpoint-sm-427: 427px;
$breakpoint-sm-420: 420px;
$breakpoint-sm-430: 430px;
$breakpoint-sm-450: 450px;
$breakpoint-sm-460: 460px;
$breakpoint-sm-484: 484px;
$breakpoint-sm-480: 480px;

$breakpoint-sm-532: 532px;
$breakpoint-sm-550: 550px;
$breakpoint-sm: 576px;
$breakpoint-md-579: 579px;

$breakpoint-md-767: 767px;
$breakpoint-md: 768px;
$breakpoint-md-820: 820px;
$breakpoint-md-850: 850px;
$breakpoint-lg-901: 901px;
$breakpoint-lg: 992px;
$breakpoint-lg-991px: 991px;

$breakpoint-xl-1024: 1024px;
$breakpoint-xl-1051: 1051px;
$breakpoint-xl-1208: 1208px;
$breakpoint-xl-1023: 1023px;

$breakpoint-xl: 1200px;
$breakpoint-xl-1365: 1365px;
$breakpoint-xl-1366: 1366px;
$breakpoint-xl-1309: 1309px;

$breakpoint-xl-1400: 1400px;
$breakpoint-xl-1440: 1440px;
$breakpoint-xl-1405: 1405px;
$breakpoint-xl-1406: 1406px;
$breakpoint-xl-1600: 1600px;
$breakpoint-xl-1800: 1800px;
$breakpoint-xl-2000: 2000px;
$breakpoint-xl-2100: 2100px;
$breakpoint-xl-2560: 2560px;